body {
    font-family: "UTMAVO", sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-bg-color);
}

button {
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

header {
    height: var(--header-height);
    position: relative;
}

.app-container {
    background: var(--black-color-1);
    height: 100%;
    position: relative;
}

.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    background-color: var(--black-color-2);
}

.main-menu {
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    color: var(--text-color);
}

.main-menu .logo {
    width: calc(var(--header-height) - 2px);
    padding: 0 4px;
}

.main-menu>li {
    line-height: 1.4;
}

.main-menu .menu-item {
    width: 142px;
    padding: 21.5px 0;
    transition: all 0.5s ease 0s;
}

.main-menu .menu-item.active {
    background: var(--black-color-1);
}

.main-menu .menu-item:hover {
    background: var(--black-color-1);
    color: var(--primary-color);
}

.hero {
    height: 92.5vh;
}

.hero .container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-container .slide .title {
    font-size: 300px;
    line-height: 345px;
    text-align: center;
    font-family: 'gangOfThree', sans-serif;
    -webkit-text-fill-color: transparent;
    color: var(--primary-color);
    font-style: normal;
    -webkit-text-stroke-width: 4px;
    font-weight: normal;
}

.hero-container {
    position: relative;
}

.hero-container .slide .info {
    font-size: 40px;
    color: var(--text-color);
    text-align: center;
    letter-spacing: 34px;
    display: inline-block;
    margin-left: 36px;
    font-weight: 700;
    position: absolute;
    top: 88%;
    left: 0;
    right: 0;
}

.footer-item {
    display: flex;
    font-size: 40px;
    align-items: center;
    margin: 0 auto;
}

.footer-wrapper {
    padding-top: 3%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    color: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer-item>*~* {
    margin-left: 50px;
}

.footer-item>li>a {
    transition: all 0.2s ease-in-out;
}

.footer-item>li>a:hover {
    color: var(--primary-color);
}

.about {
    text-align: -webkit-center;
    padding-top: 90px;
    padding-bottom: 120px;
}

.about .avatar {
    position: relative;
}

.about .avatar .img {
    width: 450px;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.about .avatar img {
    display: flex;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.about .avatar::after {
    content: "";
    width: 450px;
    height: 450px;
    position: absolute;
    background: var(--text-color);
    top: 57%;
    left: 52.6%;
    transform: translate(-50%, -50%);
}

.about .info p {
    font-size: 20px;
    width: 908px;
    color: var(--text-color);
    font-weight: 400;
    padding-top: 64px;
}

.product {
    padding-top: 100px;
    padding-bottom: 150px;
}

.product .content .title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
}

.product .main-product {
    max-width: 1720px;
    display: flex;
    margin: 0 auto;
}

.main-product .img {
    margin-top: 50px;
    max-height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.main-product .img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.main-product .img:hover img {
    transform: scale(1.2);
    cursor: pointer;
}